<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/brand-list.css">
    <link rel="stylesheet" href="/css/font.css">
    <title>BRAND LIST</title>
</head>
<body>
    <h1 style="text-align: center">Brand List</h1>
    <div class="container">
        <table>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Logo</th>
                <th>Update</th>
            </tr>
            <tr th:each="brand, i : ${brandList}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${brand.id}"></td>
                <td th:text="${brand.name}"></td>
                <td th:text="${brand.description}"></td>
                <td th:text="${brand.logo}"></td>
                <td class="update"><a th:href="@{/admin-dashboard/brand/edit/{id}(id=${brand.id})}">Update</a></td>
                <td class="delete">
                    <form th:action="@{/admin-dashboard/brand/delete/{id}(id=${brand.id})}" th:method="Post">
                        <button type="submit">
                            <input type="hidden" name="_method" value="delete">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>