<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/admin-edit-prod.css">
    <title>BRAND EDIT</title>
</head>
<body>
    <div class="container">
        <h1>Brand Update</h1>
        <form th:action="@{/admin-dashboard/brand/edit/update}" th:method="post" th:object="${brandEditRequest}">
            <input type="hidden" name="_method" value="put" />
            <input type="hidden" th:field="*{id}" />

            <label>Name</label>
            <input type="text" th:field="*{name}" placeholder="Enter brand name" />
            <p class="alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>

            <label>Description</label>
            <textarea th:field="*{description}" rows="4" cols="50" placeholder="Enter brand description"></textarea>
            <p class="alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>

            <label>Logo</label>
            <input type="text" th:field="*{logo}" placeholder="Enter logo URL" />
            <p class="alert-warning" th:if="${#fields.hasErrors('logo')}" th:errors="*{logo}"></p>

            <button type="submit">Update</button>
        </form>

    </div>
</body>
</html>