<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dior.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/logged-header.css">
    <title>Glowtique | Dior</title>

</head>
<body>
    <th:block th:insert="fragments/header-fragment :: header"></th:block>

    <main>
        <div class="container-advertise">
            <div class="item">
                <img src="/images/man-fragrance-1.png" alt="Man parfumes">
                <p>Мъжка парфюмерия</p>
            </div>
            <div class="item">
                <img src="/images/woman-fragrance-1.png" alt="Women parfumes">
                <p>Женска парфюмерия</p>
            </div>
        </div>
    </main>
</body>
</html>